In [2]:
import pandas as pd
import numpy as np
import matplotlib

In [6]:
data=pd.read_csv('/home/anivedh/DataScience/housing.csv')
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [7]:
print(data.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [8]:
print(data.head(20))

    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0     -122.23     37.88                41.0        880.0           129.0
1     -122.22     37.86                21.0       7099.0          1106.0
2     -122.24     37.85                52.0       1467.0           190.0
3     -122.25     37.85                52.0       1274.0           235.0
4     -122.25     37.85                52.0       1627.0           280.0
5     -122.25     37.85                52.0        919.0           213.0
6     -122.25     37.84                52.0       2535.0           489.0
7     -122.25     37.84                52.0       3104.0           687.0
8     -122.26     37.84                42.0       2555.0           665.0
9     -122.25     37.84                52.0       3549.0           707.0
10    -122.26     37.85                52.0       2202.0           434.0
11    -122.26     37.85                52.0       3503.0           752.0
12    -122.26     37.85                52.0       2491.0           474.0
13    -122.26     37.84                52.0        696.0           191.0
14    -122.26     37.85                52.0       2643.0           626.0
15    -122.26     37.85                50.0       1120.0           283.0
16    -122.27     37.85                52.0       1966.0           347.0
17    -122.27     37.85                52.0       1228.0           293.0
18    -122.26     37.84                50.0       2239.0           455.0
19    -122.27     37.84                52.0       1503.0           298.0

    population  households  median_income  median_house_value ocean_proximity
0        322.0       126.0         8.3252            452600.0        NEAR BAY
1       2401.0      1138.0         8.3014            358500.0        NEAR BAY
2        496.0       177.0         7.2574            352100.0        NEAR BAY
3        558.0       219.0         5.6431            341300.0        NEAR BAY
4        565.0       259.0         3.8462            342200.0        NEAR BAY
5        413.0       193.0         4.0368            269700.0        NEAR BAY
6       1094.0       514.0         3.6591            299200.0        NEAR BAY
7       1157.0       647.0         3.1200            241400.0        NEAR BAY
8       1206.0       595.0         2.0804            226700.0        NEAR BAY
9       1551.0       714.0         3.6912            261100.0        NEAR BAY
10       910.0       402.0         3.2031            281500.0        NEAR BAY
11      1504.0       734.0         3.2705            241800.0        NEAR BAY
12      1098.0       468.0         3.0750            213500.0        NEAR BAY
13       345.0       174.0         2.6736            191300.0        NEAR BAY
14      1212.0       620.0         1.9167            159200.0        NEAR BAY
15       697.0       264.0         2.1250            140000.0        NEAR BAY
16       793.0       331.0         2.7750            152500.0        NEAR BAY
17       648.0       303.0         2.1202            155500.0        NEAR BAY
18       990.0       419.0         1.9911            158700.0        NEAR BAY
19       690.0       275.0         2.6033            162900.0        NEAR BAY

In [9]:
print(data.tail())

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

In [12]:
print(data.shape)

(20640, 10)

In [13]:
print(data.dtypes)

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [14]:
print(data.info)

<bound method DataFrame.info of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]>

In [17]:
print(data.columns)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [23]:
c_data=data[['total_rooms','population']]
c_data

       total_rooms  population
0            880.0       322.0
1           7099.0      2401.0
2           1467.0       496.0
3           1274.0       558.0
4           1627.0       565.0
...            ...         ...
20635       1665.0       845.0
20636        697.0       356.0
20637       2254.0      1007.0
20638       1860.0       741.0
20639       2785.0      1387.0

[20640 rows x 2 columns]

In [20]:
c_data.head()

0     880.0
1    7099.0
2    1467.0
3    1274.0
4    1627.0
Name: total_rooms, dtype: float64